*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}
body {
    min-height: 100vh;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
input,
button,
select,
textarea {
    font: inherit;
}
img,
picture {
    display: block;
    max-width: 100%;
    height: auto;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
body {
    font-family: "Poppins", sans-serif;
    padding: 0px;
}

// Nav

.nav {
    float: left;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 1rem 1rem 0;
    background-color: white;
    z-index: 100;
    transition: 0.4s;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3rem;
        padding-top: 0.5rem;
        overflow: auto;
        scrollbar-width: none;
    }
    &__logo {
        font-weight: 500;
        margin-bottom: 2.5rem;
    }
    &__list,
    &__items {
        display: grid;
        a {
            color: black;
        }
        .active {
            color: rgb(216, 49, 85);
        }
        &__img {
            width: 100px;
            height: 100px;
            border-radius: 100rem;
        }
    }
    &__list {
        row-gap: 2.5rem;
    }
    &__items {
        row-gap: 1.2rem;
    }
    &__subtitile {
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    &__link {
        display: flex;
        align-items: center;
        &:hover {
            color: rgb(216, 49, 85);
        }
    }
    &__icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }
    &__name {
        white-space: nowrap;
    }
    &__logout {
        margin-top: 5rem;
    }
    a {
        color: black;
    }
}
.show-menu {
    left: 0;
}

.main {
    float: right;
    width: 85%;
    background-image: linear-gradient(#ffeede, #80e0ec);
    min-height: 100vh;

    .music {
        max-width: 450px;
        margin: 30px 0px 30px 50px;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 30px 15px 30px;

        .status {
            text-align: center;
            margin-bottom: 30px;
            font-weight: 700;
        }
        .music-thumb {
            width: 200px;
            height: 200px;
            margin: 0 auto 25px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100rem;
                box-shadow: 0 0 0 3px #ffb86b, 0 0 0 6px white, 0 0 0 9px #ff6bcb;
            }
        }
        .music-thumb.is-playing {
            animation: spinner 5s infinite linear;
        }
        .music-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            .content {
                .music-name {
                    font-size: 18px;
                    font-weight: 400 bolder;
                }
                .singer {
                    font-size: 17px;
                    font-weight: 300;
                }
            }
            .heart-music {
                cursor: pointer;
                font-size: 20px;
            }
        }
        .range {
            -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
            width: 100%; /* Specific width is required for Firefox. */
            background: transparent; /* Otherwise white in Chrome */
            margin-bottom: 10px;
        }
        .range::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            background-color: #999;
        }
        .range::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            background-color: springgreen;
            border-radius: 100rem;
            margin-top: -6px;
            box-shadow: 0 0 0 3px white, 0 0 0 6px rgba(100, 100, 111, 0.05);
        }
        .timer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #999;
            margin-bottom: 40px;
        }
        .controls {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0px 60px;
            cursor: pointer;
            .play {
                position: relative;
                .play-inner {
                    width: 50px;
                    height: 50px;
                    border-radius: 100rem;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    font-size: 20px;
                    position: relative;
                    z-index: 2;
                }
            }
            .play:before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86b);
                transform: scale(1.5);
                border-radius: 100rem;
            }
            .play-back {
                font-size: 20px;
                border-radius: 100rem;
            }
            .play-back:hover {
                box-shadow: 0px 0px 0px 5px #cccccc;
            }
            .play-forward {
                font-size: 20px;
                border-radius: 100rem;
            }
            .play-forward:hover {
                box-shadow: 0px 0px 0px 5px #cccccc;
            }
            .play-repeat {
                font-size: 20px;
                border-radius: 100rem;
            }
            .play-repeat:hover {
                box-shadow: 0px 0px 0px 5px #cccccc;
            }
            .play-random {
                font-size: 20px;
                border-radius: 100rem;
            }
            .play-random:hover {
                box-shadow: 0px 0px 0px 5px #cccccc;
            }
        }
    }
    .listmusic {
        max-width: 700px;
        max-height: 80vh;
        margin: 30px 0px 30px 50px;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 30px 15px 30px;

        .titleList {
            text-align: center;
            font-weight: 700;
        }
        .box {
            min-width: 685px;
            height: 67vh;
            overflow: auto;
            ul {
                list-style-type: none;
                margin: 0px 20px;
                padding-left: 0px;

                li {
                    margin: 20px 0px 10px 0px;
                    padding: 30px 0px;
                    background-color: #e5e2e2;
                    border-radius: 16px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .image {
                        margin: -15px;
                        .imageList {
                            width: 55px;
                            height: 55px;
                            border-radius: 100rem;
                        }
                    }
                    .id {
                        font-weight: 500;
                    }
                    .name {
                        font-weight: 600;
                    }

                    .play-icon {
                        font-size: 20px;
                        color: chartreuse;
                    }
                }
                .active {
                    background-color: rgb(216, 49, 85);
                    color: white;
                }
            }
        }
        // scroll
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px grey;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #80e0ec;
            border-radius: 100rem;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #80e0ec;
        }
    }
    .header {
        top: 0;
        left: 0;
        width: 100%;

        box-shadow: 0 1px 0 #999;
        padding: 0 1rem;
        z-index: 100;
        .header__container {
            display: flex;
            align-items: center;
            height: 100px;
            justify-content: space-between;

            .header__logo {
                display: none;
            }
            .header__search {
                display: flex;
                padding: 5px;
                background-color: white;
                border-radius: 16px;
                .icon-search {
                    padding: 12px 0px 0px 15px;
                    font-size: 1.2rem;
                    margin-right: 0.5rem;
                    color: rgb(216, 49, 85);
                }
            }
            .header__input {
                width: 100%;
                border: none;
                outline: none;
                background-color: white;
                padding: 10px;
            }
        }
    }
}

.active {
    color: rgb(216, 49, 85);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
